In [1]:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing(as_frame=True)
df = housing['data'].join(housing['target'])

In [2]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

## Задание

Необходимо реализовать полный пайплайн:

1) Группировка данных с помощью датасета из torch и DataLoader

2) Реализация класса Net - сетки, состоящей из двух линейных слоев с relu между ними

3) Реализация цикла тренировки - 20 эпох и каждые 5 эпох необходимо считать метрики mae. Для тренировки можно выбрать любой лосс

4*) Необхдоимо будет заскейлить данные, если в лоссе будут нуллы - можно воспользоваться обычным StandartScaler